.avatar {
  float: right;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border-radius: 3px;
}

.posts-list {
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-title {
  padding-right: 0 !important;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $link-color;
}
